.containerMainLayout {
  width: 980px;
  margin: auto;
  background: url(https://www.promiedos.com.ar/images/menu/fondo.jpg);
  font-family: Roboto,sans-serif,Arial,Helvetica;
  text-size-adjust: none;
}
.principal{
  width: 800px;
  padding-left: 15px;
  padding-bottom: 15px;
  float: left;
  min-height: 600px;
}
